# tasks/system.yml
---
- name: Set system timezone
  community.general.timezone:
    name: "{{ user_timezone }}"
  tags: [base, timezone]

- name: Enable NTP (Timesync)
  ansible.builtin.service:
    name: systemd-timesyncd
    state: started
    enabled: true
  notify: Restart systemd-timesyncd
  tags: [base, time]

- name: Set hostname to inventory name
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  tags: [base, network]

- name: Generate system locales
  community.general.locale_gen:
    name: "{{ user_locale }}"
    state: present
  tags: [base, locale]
