# tasks/users.yml

- name: Create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: "{{ item.groups | default(omit) }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
    state: present
    create_home: true
  loop: "{{ common_users }}"
  tags: [users]

- name: Add SSH keys for users
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    key: "{{ item.ssh_key }}"
    state: present
  loop: "{{ common_users }}"
  when: item.ssh_key is defined
  tags: [users, ssh]

- name: Configure Git user.name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ common_git_name }}"
  become: true
  become_user: "{{ item.name }}"
  loop: "{{ common_users }}"
  when: common_git_name is defined
  tags: [users, git]

- name: Configure Git user.email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ common_git_email }}"
  become: true
  become_user: "{{ item.name }}"
  loop: "{{ common_users }}"
  when: common_git_email is defined
  tags: [users, git]
