apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    version: 3.59.0
    releaseName: seaweedfs
    namespace: storage
    includeCRDs: true
    valuesFile: values-admin.yaml
