apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: patch-replicas.yaml
  - path: patch-no-ha-args.yaml
    target:
      kind: Deployment|StatefulSet
      name: .*
