apiVersion: apps/v1
kind: Deployment
metadata:
  name: cert-manager
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cert-manager-cainjector
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cert-manager-webhook
spec:
  replicas: 0
