apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki-read
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki-write
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki-backend
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki-chunks-cache
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki-gateway
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki-canary
spec:
  replicas: 0
