# tasks/accounts.yml
---
- name: Create or update user accounts
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: "{{ item.groups | default(['sudo']) }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
    state: present
    create_home: true
    append: true # Ensures we don't remove them from system groups not in our list
  loop: "{{ active_users }}"
  tags: [users, accounts]
