# tasks/git_config.yml
---
- name: Configure Git user.name (Global Scope per User)
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ item.git_name | default(users_global_git_name) }}"
  become: true
  become_user: "{{ item.username }}"
  # Run only if we have a name to set (either specific or global default)
  when: (item.git_name is defined) or (users_global_git_name | length > 0)
  loop: "{{ users_accounts }}"
  loop_control:
    label: "{{ item.username }}"
  tags: [users, git]

- name: Configure Git user.email (Global Scope per User)
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ item.git_email | default(users_global_git_email) }}"
  become: true
  become_user: "{{ item.username }}"
  # Run only if we have an email to set
  when: (item.git_email is defined) or (users_global_git_email | length > 0)
  loop: "{{ users_accounts }}"
  loop_control:
    label: "{{ item.username }}"
  tags: [users, git]
