# tasks/ssh_keys.yml
---
- name: Set up authorized keys
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    key: "{{ item.ssh_key }}"
    state: present
    exclusive: false # Set to true if you want to remove manually added keys not defined here
  loop: "{{ users_accounts }}"
  when: item.ssh_key is defined and item.ssh_key | length > 0
  loop_control:
    label: "{{ item.username }}"
  tags: [users, ssh]
