apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: security

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    releaseName: authentik
    namespace: security
    version: 2025.12.4
    valuesFile: values.yaml

resources:
  - namespace.yaml
