apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    version: 4.0.407
    releaseName: seaweedfs
    namespace: storage
    includeCRDs: true
    valuesFile: values.yaml
