apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    version: 3.59.0
    releaseName: seaweedfs
    namespace: storage
    includeCRDs: true
    valuesFile: values.yaml

patches:
  - path: admin-sidecar-patch.yaml
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: seaweedfs-master

resources:
  - namespace.yaml
