apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# resources:
#   - webdav.yaml
#   - volume-ingress.yaml
# - upstream.yaml
# - ingress.yaml

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    releaseName: seaweedfs
    namespace: storage
    version: 4.0.407
    valuesFile: values.yaml # Uncomment when ready to use values

patches:
  - target:
      kind: StatefulSet
      name: seaweedfs-admin
    patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/apiVersion
        value: v1
      - op: add
        path: /spec/volumeClaimTemplates/0/kind
        value: PersistentVolumeClaim
      - op: add
        path: /spec/volumeClaimTemplates/1/apiVersion
        value: v1
      - op: add
        path: /spec/volumeClaimTemplates/1/kind
        value: PersistentVolumeClaim
