apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# resources:
#   - webdav.yaml
#   - volume-ingress.yaml
# - upstream.yaml
# - ingress.yaml

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    releaseName: seaweedfs
    namespace: storage
    version: 4.0.407
    valuesFile: values.yaml # Uncomment when ready to use values

patches:
  - path: patches/fix-admin-pvc.yaml
    target:
      kind: StatefulSet
      name: seaweedfs-admin
  # Uncomment to enable Maintenance Mode (Scale Down to 0)
  # - path: patches/maintenance-mode.yaml
