apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    releaseName: seaweedfs
    namespace: storage
    version: 4.0.409
    valuesFile: values.yaml

resources:
  - service-filer-client.yaml
