# defaults/main.yml
---
# Packages to remove to ensure a clean install
docker_conflicting_packages:
  - docker.io
  - docker-doc
  - docker-compose
  - docker-compose-v2
  - podman-docker
  - containerd
  - runc

# Packages to install (Official Docker CE)
docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin

# Log Rotation Settings (Prevents disk exhaustion)
docker_log_max_size: "10m"
docker_log_max_file: "3"

# User Management
docker_add_ansible_user: true
