# tasks/install.yml
---
- name: Check if helm is installed
  ansible.builtin.stat:
    path: "{{ helm_bin_path }}"
  register: helm_bin

- name: Get current helm version
  ansible.builtin.command: "{{ helm_bin_path }} version --short"
  register: helm_current_version
  changed_when: false
  failed_when: false
  when: helm_bin.stat.exists

- name: Download and Install Helm
  # Logic: Run only if binary missing OR version mismatch
  when: >
    not helm_bin.stat.exists or
    (helm_version not in helm_current_version.stdout)
  vars:
    _h_arch: "{{ helm_arch_mapping[ansible_architecture] }}"
    _h_file: "helm-{{ helm_version }}-linux-{{ _h_arch }}.tar.gz"
    _h_url: "https://get.helm.sh/{{ _h_file }}"
    _h_sum_url: "https://get.helm.sh/{{ _h_file }}.sha256sum"
  block:
    - name: Download Helm checksum file
      ansible.builtin.get_url:
        url: "{{ _h_sum_url }}"
        dest: "/tmp/{{ _h_file }}.sha256"
        mode: "0644"

    - name: Read checksum from file
      ansible.builtin.slurp:
        src: "/tmp/{{ _h_file }}.sha256"
      register: helm_sha256_content

    - name: Download Helm tarball with verification
      ansible.builtin.get_url:
        url: "{{ _h_url }}"
        dest: "/tmp/{{ _h_file }}"
        mode: "0644"
        # Checksum file content example: "hash  filename" -> We only need the hash (first part)
        checksum: "sha256:{{ helm_sha256_content.content | b64decode | split(' ') | first | trim }}"

    - name: Unarchive Helm tarball
      ansible.builtin.unarchive:
        src: "/tmp/{{ _h_file }}"
        dest: "/tmp"
        remote_src: true
        creates: "/tmp/linux-{{ _h_arch }}/helm"

    - name: Install Helm binary to path
      ansible.builtin.copy:
        src: "/tmp/linux-{{ _h_arch }}/helm"
        dest: "{{ helm_bin_path }}"
        mode: "0755"
        remote_src: true

    - name: Cleanup temporary files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "/tmp/{{ _h_file }}"
        - "/tmp/{{ _h_file }}.sha256"
        - "/tmp/linux-{{ _h_arch }}"
