apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - ../../../apps/infrastructure/prometheus-stack

patches:
  - path: values.yaml
    target:
      kind: HelmChartInflationGenerator
      name: kube-prometheus-stack
