apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - ../../../apps/infrastructure/prometheus-stack

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 61.3.2
    releaseName: prometheus-stack
    namespace: monitoring
    includeCRDs: true
    valuesInline:
      fullnameOverride: prometheus-stack
      defaultRules:
        create: true
        rules:
          etcd: false
          kubeScheduler: false
      kubeControllerManager:
        enabled: false
      kubeEtcd:
        enabled: false
      kubeScheduler:
        enabled: false
      nodeExporter:
        enabled: true
        service:
          port: 9101
          targetPort: 9101
      grafana:
        enabled: false
      alertmanager:
        enabled: false
      prometheus:
        enabled: true
        prometheusSpec:
          serviceMonitorSelectorNilUsesHelmValues: false
          serviceMonitorSelector: {}
          serviceMonitorNamespaceSelector: {}
      prometheusOperator:
        admissionWebhooks:
          enabled: false
          patch:
            enabled: false
        tls:
          enabled: false

patches:
  - target:
      kind: DaemonSet
      name: prometheus-stack-prometheus-node-exporter
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - --path.procfs=/host/proc
          - --path.sysfs=/host/sys
          - --path.rootfs=/host/root
          - --path.udev.data=/host/root/run/udev/data
          - --web.listen-address=:9101
          - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
          - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$
