apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
valuesInline:
  grafana:
    enabled: false

  alertmanager:
    enabled: false

  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}

  nodeExporter:
    enabled: true
