grafana:
  enabled: false
alertmanager:
  enabled: false
defaultRules:
  create: true
prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
