grafana:
  enabled: false

alertmanager:
  enabled: false

prometheus:
  enabled: true
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}

nodeExporter:
  enabled: true
