apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - path: patch-args.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: external-dns
  - path: patch-env.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: external-dns
