apiVersion: apps/v1
kind: Deployment
metadata:
  name: podinfo
  namespace: podinfo
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: podinfo
          envFrom:
            - configMapRef:
                name: podinfo-dev-debug
