apiVersion: kustomize.config.k8s.io/v1beta1
kind: Patch
metadata:
  name: patch-replicas
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: podinfo
          env:
            - name: PODINFO_UI_COLOR
              value: "#34577c" # Blue for Dev
