apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: mimir-distributed
    repo: https://grafana.github.io/helm-charts
    version: 5.3.0
    releaseName: mimir
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml
