apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-master
  namespace: storage
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-filer
  namespace: storage
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-volume
  namespace: storage
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: seaweedfs-s3
  namespace: storage
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-admin
  namespace: storage
spec:
  replicas: 1
