apiVersion: batch/v1
kind: Job
metadata:
  name: create-loki-buckets
  namespace: storage
  annotations:
    argocd.argoproj.io/hook: PostSync
spec:
  template:
    spec:
      containers:
        - name: create-buckets
          image: curlimages/curl
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Creating loki-data bucket..."
              curl -f -v -X POST "http://seaweedfs-filer.storage.svc:8888/buckets/loki-data/"
              echo "Creating loki-data-ruler bucket..."
              curl -f -v -X POST "http://seaweedfs-filer.storage.svc:8888/buckets/loki-data-ruler/"
      restartPolicy: OnFailure
