apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-master
  namespace: storage
spec:
  volumeClaimTemplates:
    - metadata:
        name: data-storage
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
        storageClassName: longhorn
    - metadata:
        name: seaweedfs-master-log-volume
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
        storageClassName: longhorn0rep
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-filer
  namespace: storage
spec:
  volumeClaimTemplates:
    - metadata:
        name: data-filer
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi
        storageClassName: longhorn
    - metadata:
        name: seaweedfs-filer-log-volume
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
        storageClassName: longhorn0rep
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-admin
  namespace: storage
spec:
  volumeClaimTemplates:
    - metadata:
        name: admin-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi
        storageClassName: longhorn
    - metadata:
        name: admin-logs
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi
        storageClassName: longhorn0rep
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-volume
  namespace: storage
spec:
  volumeClaimTemplates:
    - metadata:
        name: idx
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
        storageClassName: longhorn
    - metadata:
        name: logs
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
        storageClassName: longhorn0rep
