apiVersion: apps/v1
kind: Deployment
metadata:
  name: kyverno-admission-controller
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kyverno-background-controller
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kyverno-cleanup-controller
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kyverno-reports-controller
spec:
  replicas: 0
