apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno/
    version: 3.3.0
    releaseName: kyverno
    namespace: security
    includeCRDs: true
    valuesInline:
      admissionController:
        replicas: 2
      backgroundController:
        replicas: 1
      cleanupController:
        replicas: 1
      reportsController:
        replicas: 1

resources:
  - namespace.yaml
