apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno/
    version: 3.6.2
    releaseName: kyverno
    namespace: security
    includeCRDs: true
    valuesInline:
      admissionController:
        replicas: 2
      backgroundController:
        replicas: 1
      reportsController:
        replicas: 1
      admissionReports:
        controller:
          image:
            registry: registry.k8s.io
            repository: kubectl
            tag: v1.30.0
      cleanupController:
        replicas: 1
        image:
          registry: registry.k8s.io
          repository: kubectl
          tag: v1.30.0

resources:
  - namespace.yaml
