apiVersion: apps/v1
kind: Deployment
metadata:
  name: longhorn-ui
  namespace: longhorn-system
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: longhorn-ui
          resources:
            requests:
              cpu: 50m

              memory: 64Mi
            limits:
              cpu: 250m

              memory: 256Mi
