apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: authentik-redis-master
  namespace: security
spec:
  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: longhorn
        resources:
          requests:
            storage: 1Gi
