apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-dns

helmCharts:
  - name: external-dns
    repo: https://kubernetes-sigs.github.io/external-dns/
    releaseName: external-dns
    namespace: external-dns
    version: 1.20.0
    valuesFile: values.yaml

resources:
  - namespace.yaml
  - secret.yaml
