apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
# patches:
#   - target:
#       kind: Deployment
#       name: prometheus-stack-kube-prom-operator
#     patch: |-
#       - op: replace
#         path: /spec/replicas
#         value: 1
#       - op: add
#         path: /spec/template/spec/containers/0/resources
#         value:
#           requests:
#             cpu: 20m
#             memory: 64Mi
#           limits:
#             cpu: 200m
#             memory: 256Mi
#   - target:
#       kind: Deployment
#       name: prometheus-stack-grafana
#     patch: |-
#       - op: replace
#         path: /spec/replicas
#         value: 1
#       - op: add
#         path: /spec/template/spec/containers/0/resources
#         value:
#           requests:
#             cpu: 20m
#             memory: 64Mi
#           limits:
#             cpu: 200m
#             memory: 256Mi
#   - target:
#       kind: StatefulSet
#       name: prometheus-prometheus-stack-kube-prom-prometheus
#     patch: |-
#       - op: replace
#         path: /spec/replicas
#         value: 1
#       - op: add
#         path: /spec/template/spec/containers/0/resources
#         value:
#           requests:
#             cpu: 100m
#             memory: 256Mi
#           limits:
#             cpu: 500m
#             memory: 1Gi
#   - target:
#       kind: StatefulSet
#       name: alertmanager-prometheus-stack-kube-prom-alertmanager
#     patch: |-
#       - op: replace
#         path: /spec/replicas
#         value: 1
#       - op: add
#         path: /spec/template/spec/containers/0/resources
#         value:
#           requests:
#             cpu: 20m
#             memory: 64Mi
#           limits:
#             cpu: 100m
#             memory: 256Mi
