replicaCount: 1

image:
  repository: quay.io/prometheus/alertmanager
  tag: "v0.26.0" # Chart 1.33.0 defaults to v0.26.0

service:
  type: ClusterIP

persistence:
  enabled: true

ingress:
  enabled: false
