apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 38.0.2
    releaseName: traefik
    namespace: networking
    includeCRDs: true
    valuesFile: values.yaml

resources:
  - certificate.yaml
