apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: StatefulSet
      name: loki-read
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: loki-read
      spec:
        template:
          spec:
            containers:
              - name: loki
                resources:
                  requests:
                    cpu: 100m
                    memory: 256Mi
                  limits:
                    cpu: 1000m
                    memory: 1Gi
  - target:
      kind: StatefulSet
      name: loki-write
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: loki-write
      spec:
        template:
          spec:
            containers:
              - name: loki
                resources:
                  requests:
                    cpu: 100m
                    memory: 256Mi
                  limits:
                    cpu: 1000m
                    memory: 1Gi
  - target:
      kind: StatefulSet
      name: loki-backend
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: loki-backend
      spec:
        template:
          spec:
            containers:
              - name: loki
                resources:
                  requests:
                    cpu: 50m
                    memory: 128Mi
                  limits:
                    cpu: 500m
                    memory: 512Mi
  - target:
      kind: Deployment
      name: loki-gateway
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: loki-gateway
      spec:
        template:
          spec:
            containers:
              - name: nginx
                resources:
                  requests:
                    cpu: 50m
                    memory: 64Mi
                  limits:
                    cpu: 500m
                    memory: 256Mi
  - target:
      kind: StatefulSet
      name: loki-chunks-cache
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: loki-chunks-cache
      spec:
        template:
          spec:
            containers:
              - name: memcached
                resources:
                  requests:
                    cpu: 100m
                    memory: 256Mi
                  limits:
                    memory: 512Mi
