apiVersion: v1
kind: Secret
metadata:
  name: {{ target_cluster_group }}-cluster-secret
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: {{ target_cluster_group }}
  server: {{ remote_api_url }}
  config: |
    {
      "bearerToken": "{{ remote_token }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ remote_ca_b64 }}"
      }
    }
