apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-bootstrap
  namespace: {{ argocd_namespace }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: {{ argocd_git_repo_url }}
        revision: {{ argocd_git_repo_revision }}
        # Look for two-level subdirectories (cluster/app)
        directories:
          - path: kubernetes/clusters/*/*
  template:
    metadata:
      name: '{% raw %}{{.path.path | dir | base}}-{{.path.path | base}}{% endraw %}'
    spec:
      project: default
      source:
        repoURL: {{ argocd_git_repo_url }}
        targetRevision: {{ argocd_git_repo_revision }}
        path: '{% raw %}{{.path.path}}{% endraw %}'
      destination:
        # If the parent directory is 'ruth', use in-cluster.
        server: '{% raw %}{{if eq (.path.path | dir | base) "ruth"}}https://kubernetes.default.svc{{else}}https://{{.path.path | dir | base}}-api.example.com:6443{{end}}{% endraw %}'
        namespace: '{% raw %}{{if eq (.path.path | base) "podinfo"}}default{{else}}{{.path.path | base}}{{end}}{% endraw %}'
      ignoreDifferences:
        - group: apiextensions.k8s.io
          kind: CustomResourceDefinition
          jsonPointers:
            - /spec/conversion/webhook/clientConfig/caBundle
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
          - Replace=true
