apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: velero

helmCharts:
  - name: velero
    repo: https://vmware-tanzu.github.io/helm-charts
    releaseName: velero
    namespace: velero
    version: 5.3.3 # Chart 5.3.3 installs Velero v1.13.x
    valuesFile: values.yaml

resources:
  - namespace.yaml
  - secret.yaml # We use a static secret for now to bootstrap
