resources:
  - namespace.yaml
helmCharts:
  - name: promtail
    repo: https://grafana.github.io/helm-charts
    version: 6.17.1
    releaseName: promtail
    namespace: logging
    includeCRDs: true
    valuesInline:
      config:
        clients:
          - url: http://loki-gateway.networking.svc.cluster.local/loki/api/v1/push
