apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.7.2
    releaseName: longhorn
    namespace: storage
    includeCRDs: true
    valuesInline:
      defaultSettings:
        createDefaultDiskLabeledNodes: false
        defaultDataPath: /data/storage
        storageReservedPercentageForDefaultDisk: 15
      persistence:
        defaultClass: true
        defaultClassReplicaCount: 2 # Good balance for stability vs resource usage
      preUpgradeChecker:
        jobEnabled: false
      longhornManager:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      longhornDriver:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"

resources:
  - namespace.yaml
  - ingress.yaml
