apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: authentik-postgresql
  namespace: security
spec:
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: longhorn
        resources:
          requests:
            storage: 10Gi
