apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: StatefulSet
      name: loki-read
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: loki-read
      spec:
        replicas: 1
  - target:
      kind: StatefulSet
      name: loki-write
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: loki-write
      spec:
        replicas: 1
  - target:
      kind: StatefulSet
      name: loki-backend
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: loki-backend
      spec:
        replicas: 1
  - target:
      kind: Deployment
      name: loki-gateway
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: loki-gateway
      spec:
        replicas: 1
  - target:
      kind: Deployment
      name: loki-canary
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: loki-canary
      spec:
        replicas: 1
