apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: security

resources:
  - ../../../apps/infrastructure/authentik/base

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    releaseName: authentik
    namespace: security
    version: 2025.12.4
    # Note: relative to this file
    valuesFile: ../../../apps/infrastructure/authentik/base/values.yaml

components:
  - ../../../apps/infrastructure/authentik/components/redis
  - ../../../apps/infrastructure/authentik/components/postgresql
  - ../../../apps/infrastructure/authentik/components/ingress
  - ../../../apps/infrastructure/authentik/components/secrets
  - ../../../apps/infrastructure/authentik/components/security-context
