apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager
  namespace: monitoring

spec:
  template:
    spec:
      containers:
        - name: alertmanager
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi
