---
- name: Allow Kubernetes Pod Network (CNI/Overlay)
  community.general.ufw:
    rule: allow
    src: "10.244.0.0/16"
  tags: [k8s, firewall]

- name: Allow Kubernetes Service Network
  community.general.ufw:
    rule: allow
    src: "10.96.0.0/12"
  tags: [k8s, firewall]

- name: Allow Kubernetes & MetalLB Ports
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    comment: "{{ item.name }}"
  loop:
    - { port: "6443", proto: "tcp", name: "K8s API" }
    - { port: "10250", proto: "tcp", name: "Kubelet" }
    - { port: "179", proto: "tcp", name: "BGP (Calico/MetalLB)" }
    - { port: "4789", proto: "udp", name: "VXLAN" }
    - { port: "7946", proto: "tcp", name: "MetalLB Memberlist TCP" }
    - { port: "7946", proto: "udp", name: "MetalLB Memberlist UDP" }
    - { port: "7472", proto: "tcp", name: "MetalLB Metrics/Liveness" }
  tags: [k8s, firewall]
