# tasks/join_control.yml
---
- name: Check if node has already joined
  ansible.builtin.stat:
    path: /etc/kubernetes/admin.conf
  register: admin_conf

- name: Wait for Bootstrap Node API (6443)
  ansible.builtin.wait_for:
    host: "{{ hostvars[kubeadm_bootstrap_node]['ansible_host'] }}"
    port: 6443
    timeout: 300
    state: started
  delegate_to: localhost
  when: not admin_conf.stat.exists

- name: Generate Certificate Key and Token on Primary
  ansible.builtin.shell: |
    set -o pipefail
    kubeadm init phase upload-certs --upload-certs | tail -n 1
  args:
    executable: /bin/bash
  delegate_to: "{{ kubeadm_bootstrap_node }}"
  register: cert_key
  changed_when: false
  when: not admin_conf.stat.exists

- name: Generate Join Command on Primary
  ansible.builtin.command: kubeadm token create --print-join-command
  delegate_to: "{{ kubeadm_bootstrap_node }}"
  register: join_cmd
  changed_when: false
  when: not admin_conf.stat.exists
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

- name: Join Cluster as Control Plane
  ansible.builtin.command: "{{ join_cmd.stdout }} --control-plane --certificate-key {{ cert_key.stdout }}"
  when: not admin_conf.stat.exists
  changed_when: true
