---
- name: Install Longhorn Dependencies (NFS/iSCSI)
  ansible.builtin.apt:
    name:
      - nfs-common
      - open-iscsi
      - cryptsetup
      - dmsetup
    state: present
    update_cache: true

- name: Enable iSCSI Daemon
  ansible.builtin.systemd:
    name: iscsid
    enabled: true
    state: started

- name: Disable Multipathd (Conflicts with Longhorn)
  ansible.builtin.systemd:
    name: multipathd
    enabled: false
    state: stopped
  failed_when: false
