apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: Deployment
      name: kyverno-.*
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: PodDisruptionBudget
      name: kyverno-admission-controller
    patch: |-
      - op: replace
        path: /spec/minAvailable
        value: 0
