- op: add
  path: /spec/volumeClaimTemplates/0/apiVersion
  value: v1
- op: add
  path: /spec/volumeClaimTemplates/0/kind
  value: PersistentVolumeClaim
- op: add
  path: /spec/volumeClaimTemplates/1/apiVersion
  value: v1
- op: add
  path: /spec/volumeClaimTemplates/1/kind
  value: PersistentVolumeClaim
