apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

helmCharts:
  - name: immich
    repo: https://immich-app.github.io/immich-charts
    releaseName: immich
    namespace: immich
    version: 0.10.3
    valuesFile: values.yaml

resources:
  - namespace.yaml
  - pvc-library.yaml
