kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: {{ kind_container_http }}
    hostPort: {{ kind_port_http }}
    protocol: TCP
  - containerPort: {{ kind_container_https }}
    hostPort: {{ kind_port_https }}
    protocol: TCP
  - containerPort: {{ kind_container_extra_1 }}
    hostPort: {{ kind_port_extra_1 }}
    protocol: TCP
  - containerPort: {{ kind_container_extra_2 }}
    hostPort: {{ kind_port_extra_2 }}
    protocol: TCP