# handlers/main.yml

- name: Restart kubelet
  ansible.builtin.service:
    name: kubelet
    state: restarted
    enabled: true

- name: Restart containerd
  ansible.builtin.service:
    name: containerd
    state: restarted

- name: Install Flannel CNI
  ansible.builtin.command:
    cmd: kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
  become: true
  become_user: "{{ ansible_user }}"
  environment:
    # Explicitly use the admin config so we don't rely on user home paths
    KUBECONFIG: /etc/kubernetes/admin.conf
  # CRITICAL FIX: Only run this on the Brain (Control Plane), never on Workers
  when: "'k_control' in group_names"
  changed_when: true
