deploymentMode: SimpleScalable

loki:
  auth_enabled: true
  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki

  storage:
    type: s3
    bucketNames:
      chunks: placeholder
      ruler: placeholder
      admin: placeholder
    s3:
      s3ForcePathStyle: true
      insecure: true

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

chunksCache:
  enabled: true
  # No index gateway in SimpleScalable with TSDB
  index_gateway:
    enabled: false
  allocatedMemory: 256

results_cache:
  enabled: false

gateway:
  enabled: true

write:
  persistence:
    enabled: true

read:
  persistence:
    enabled: true

backend:
  persistence:
    enabled: true

monitoring:
  serviceMonitor:
    enabled: true
    labels:
      release: prometheus-stack
