apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: minio
  namespace: storage
spec:
  interval: 1h
  chart:
    spec:
      chart: minio
      version: 0.8.2
      sourceRef:
        kind: HelmRepository
        name: cloudpirates
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: minio-values
