apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: logging

resources:
  - ../../../apps/infrastructure/promtail

patches:
  - target:
      kind: Namespace
      name: logging
    patch: |-
      $patch: delete
      apiVersion: v1
      kind: Namespace
      metadata:
        name: logging
