apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../apps/infrastructure/loki
  - ingress.yaml

patches:
  - target:
      kind: Service
      name: loki
    patch: |-
      - op: replace
        path: /spec/type
        value: ClusterIP
