apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: promtail
  namespace: logging
spec:
  values:
    config:
      clients:
        - url: https://loki.ruth.example.com/loki/api/v1/push
