apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../apps/infrastructure/promtail/namespace.yaml

helmCharts:
  - name: promtail
    repo: https://grafana.github.io/helm-charts
    version: 6.16.0
    releaseName: promtail
    namespace: logging
    includeCRDs: true
    valuesInline:
      config:
        clients:
          - url: http://loki.ruth.example.com/loki/api/v1/push
