# tasks/install.yml
---
- name: Remove conflicting legacy packages
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-doc
      - docker-compose
      - docker-compose-v2
      - podman-docker
      - containerd
      - runc
    state: absent
  tags: [docker, install, cleanup]

- name: Install dependencies
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true
  tags: [docker, install]

- name: Create directory for Docker GPG key
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  tags: [docker, install]

- name: Add Docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
  tags: [docker, install]

- name: Add Docker Repository
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch={{ docker_arch_mapping[ansible_architecture] }} signed-by=/etc/apt/keyrings/docker.asc]
      https://download.docker.com/linux/ubuntu
      {{ ansible_distribution_release }} stable
    filename: docker
    state: present
  tags: [docker, install]

- name: Install Docker Engine
  ansible.builtin.apt:
    name: "{{ docker_packages }}"
    state: present
    update_cache: true
  notify: Restart docker
  tags: [docker, install]
