# tasks/install.yml
---
- name: Install Docker and Containerd packages
  ansible.builtin.apt:
    name: "{{ docker_packages }}"
    state: present
  notify:
    - Restart docker
    - Restart containerd

- name: Add ansible user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true
  when: docker_add_ansible_user
  tags: [docker, user]

# This ensures the session reflects the group change immediately for subsequent tasks
- name: Reset ssh connection to apply group changes
  ansible.builtin.meta: reset_connection
