# tasks/main.yml
---
- name: Cleanup old installations
  ansible.builtin.import_tasks: cleanup.yml

- name: Setup Docker Repository
  ansible.builtin.import_tasks: repo.yml

- name: Install Docker and Containerd
  ansible.builtin.import_tasks: install.yml

- name: Configure Runtime and CRI
  ansible.builtin.import_tasks: config.yml
