# tasks/main.yml
---
- name: Fail if architecture is not supported
  ansible.builtin.fail:
    msg: "System architecture {{ ansible_architecture }} is not mapped in defaults/main.yml"
  when: docker_arch_mapping[ansible_architecture] is not defined

- name: Install Docker prerequisites and packages
  ansible.builtin.include_tasks: install.yml

- name: Configure Docker daemon and users
  ansible.builtin.include_tasks: configure.yml
