---
- name: Hard Reset Kubernetes Cluster (Destructive)
  hosts: kubeadm
  become: true
  gather_facts: false

  tasks:
    - name: Check if kubeadm is installed
      ansible.builtin.command: which kubeadm
      register: kubeadm_check
      failed_when: false
      changed_when: false

    - name: Run kubeadm reset (Force)
      ansible.builtin.command: kubeadm reset -f
      when: kubeadm_check.rc == 0
      # We allow this to fail (e.g. if partially broken) but mark it as changed
      failed_when: false
      changed_when: true

    - name: Stop Kubelet Service
      ansible.builtin.service:
        name: kubelet
        state: stopped
      # Ignore failure if service doesn't exist yet
      failed_when: false

    - name: Remove Cluster Configuration & Data directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/kubernetes
        - /var/lib/kubelet
        - /var/lib/etcd
        - /etc/cni/net.d
        - /var/log/pods
        - /var/log/containers
        - /var/lib/calico  # Added for Calico cleanup

    - name: Remove User Kubeconfig
      ansible.builtin.file:
        path: "/home/{{ ansible_user | default('dev') }}/.kube"
        state: absent

    - name: Flush IPtables (CNI Network Cleanup)
      # This requires shell due to chaining (&&)
      ansible.builtin.shell: |
        iptables -F
        iptables -t nat -F
        iptables -t mangle -F
        iptables -X
      failed_when: false
      changed_when: true

    - name: Remove Calico/K8s Network Interfaces
      ansible.builtin.command: ip link delete {{ item }}
      loop:
        - tunl0          # Calico IPIP Tunnel
        - vxlan.calico   # Calico VXLAN
        - kube-ipvs0     # Kube Proxy IPVS interface
        - dummy0         # K8s dummy interface
      failed_when: false
      changed_when: true
