# Ansible managed: storage_lxc role
# Userspace NFS server (nfs-ganesha) - works in an unprivileged LXC

NFS_CORE_PARAM {
    Protocols = {{ storage_lxc_ganesha_protocols }};
}

EXPORT_DEFAULTS {
    Access_Type = RW;
    Squash = None;
    SecType = sys;
}

EXPORT {
    Export_Id = {{ storage_lxc_ganesha_export_id }};
    Path = "{{ storage_lxc_export_path }}";
    Pseudo = "{{ storage_lxc_export_path }}";
    Protocols = {{ storage_lxc_ganesha_protocols }};
    FSAL {
        Name = VFS;
    }
}

NFSv4 {
    Delegations = false;
}
