apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../apps/infrastructure/longhorn

patches:
  # Reduce StorageClass replication
  - target:
      kind: StorageClass
      name: longhorn
    patch: |-
      - op: replace
        path: /parameters/numberOfReplicas
        value: "1"
  # Minimize Deployments
  - target:
      kind: Deployment
      name: .*
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            cpu: 500m
            memory: 256Mi
  # Minimize DaemonSets (Resources only)
  - target:
      kind: DaemonSet
      name: .*
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            cpu: 250m
            memory: 256Mi
