# tasks/firewall.yml
---
- name: Allow Kubernetes API (6443/tcp)
  community.general.ufw:
    rule: allow
    port: "6443"
    proto: tcp
  tags: [security, ufw]

- name: Allow Kubelet API (10250/tcp)
  community.general.ufw:
    rule: allow
    port: "10250"
    proto: tcp
  tags: [security, ufw]

- name: Allow Flannel VXLAN (8472/udp)
  community.general.ufw:
    rule: allow
    port: "8472"
    proto: udp
  tags: [security, ufw]

- name: Allow NodePort Services (30000-32767)
  # Required for ArgoCD UI (NodePort) to be accessible
  community.general.ufw:
    rule: allow
    port: "30000:32767"
    proto: tcp
  tags: [security, ufw]

# Optional: If you trust your LAN, this is the easiest fix
- name: Allow all traffic from internal LAN
  community.general.ufw:
    rule: allow
    src: "192.168.0.0/24"
  tags: [security, ufw]
