# tasks/gitops.yml
---
- name: Render Cluster Bootstrap Manifest
  ansible.builtin.template:
    src: cluster-bootstrap.yaml.j2
    dest: /tmp/cluster-bootstrap.yaml
    mode: "0644"
  when: inventory_hostname == kubeadm_bootstrap_node

- name: Apply Cluster Bootstrap (ApplicationSet)
  ansible.builtin.command: kubectl apply -f /tmp/cluster-bootstrap.yaml
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  register: gitops_apply
  changed_when: "'created' in gitops_apply.stdout or 'configured' in gitops_apply.stdout"
  when: inventory_hostname == kubeadm_bootstrap_node
