apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.11.0
    releaseName: longhorn
    namespace: longhorn-system
    includeCRDs: true
    valuesFile: values.yaml

resources:
  - namespace.yaml
  - sc-longhorn-replication0.yaml
