apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.7.2
    releaseName: longhorn
    namespace: storage
    includeCRDs: true
    valuesFile: values.yaml

resources:
  - namespace.yaml
