defaultSettings:
  createDefaultDiskLabeledNodes: false
  defaultDataPath: /data/storage
  storageReservedPercentageForDefaultDisk: 15
  taintToleration: "node-role.kubernetes.io/control-plane:NoSchedule"
# namespaceOverride: "longhorn-system"
persistence:
  defaultClass: true
  defaultClassReplicaCount: 2 # Good balance for stability vs resource usage
preUpgradeChecker:
  jobEnabled: false
longhornManager:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
longhornDriver:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
metrics:
  serviceMonitor:
    enabled: true
