apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 81.5.0
    releaseName: prometheus-stack
    namespace: monitoring
    valuesFile: values.yaml
    includeCRDs: true
