apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

  - namespace.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 61.3.2
    releaseName: prometheus-stack
    namespace: monitoring
    valuesFile: values.yaml
    includeCRDs: true
