# tasks/configure_containerd.yml
---
- name: Create containerd config directory
  ansible.builtin.file:
    path: /etc/containerd
    state: directory
    mode: "0755"
  tags: [kubeadm, containerd]

- name: Generate default containerd config
  ansible.builtin.shell: containerd config default > /etc/containerd/config.toml
  changed_when: true
  tags: [kubeadm, containerd]

- name: Enable SystemdCgroup in containerd config
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: "SystemdCgroup = false"
    replace: "SystemdCgroup = true"
  notify: Restart containerd
  tags: [kubeadm, containerd]

- name: Restart containerd immediately
  ansible.builtin.service:
    name: containerd
    state: restarted
    enabled: true
  tags: [kubeadm, containerd]
