# tasks/config.yml
---
- name: Check Taint Status
  ansible.builtin.command: kubectl describe node {{ inventory_hostname }}
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  register: node_desc
  changed_when: false
  delegate_to: "{{ inventory_hostname }}"
  when: "'k_control' in group_names"

- name: Allow Scheduling (Remove Taint)
  ansible.builtin.command: >
    kubectl taint nodes {{ inventory_hostname }} node-role.kubernetes.io/control-plane-
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  when:
    - kubeadm_allow_scheduling_on_cp | bool
    - "'NoSchedule' in node_desc.stdout" # Only run if currently tainted
  changed_when: true

- name: Block Scheduling (Add Taint)
  ansible.builtin.command: >
    kubectl taint nodes {{ inventory_hostname }} node-role.kubernetes.io/control-plane:NoSchedule
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  when:
    - not kubeadm_allow_scheduling_on_cp | bool
    - "'NoSchedule' not in node_desc.stdout" # Only run if currently NOT tainted
  changed_when: true
