# tasks/install.yml
---
- name: Install Kubelet, Kubeadm, and Kubectl
  ansible.builtin.apt:
    name:
      - "kubelet={{ kubeadm_package_version }}"
      - "kubeadm={{ kubeadm_package_version }}"
      - "kubectl={{ kubeadm_package_version }}"
    state: present
    update_cache: true
  tags: [kubeadm, install]

- name: Hold Kubernetes packages at current version
  ansible.builtin.dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop: [kubelet, kubeadm, kubectl]
  tags: [kubeadm, install]

- name: Ensure Kubelet is enabled
  ansible.builtin.service:
    name: kubelet
    enabled: true
    state: started
