resources:
  - ../../apps/services/podinfo
  - ../../apps/infrastructure/sealed-secrets
  - ../../apps/infrastructure/cert-manager

patches:
  - target:
      kind: Deployment
      name: podinfo
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
