apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../apps/infrastructure/prometheus-stack/overlays/minimal
  - ingress.yaml

patches:
  - path: datasources-patch.yaml
    target:
      kind: HelmRelease
      name: prometheus-stack
