apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../apps/infrastructure/prometheus-stack/overlays/minimal
  - ingress.yaml

configMapGenerator:
  - name: prometheus-stack-values
    files:
      - values.yaml

patches:
  - patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      metadata:
        name: prometheus-stack
        namespace: monitoring
      spec:
        valuesFrom:
          - kind: ConfigMap
            name: prometheus-stack-values
            valuesKey: values.yaml
    target:
      kind: HelmRelease
      name: prometheus-stack
  - path: datasources-patch.yaml
    target:
      kind: HelmRelease
      name: prometheus-stack
  - path: ../../../apps/maintenance/patch-scale-zero.yaml
    target:
      kind: Deployment|StatefulSet
      name: .*
