apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
valuesInline:
  grafana:
    enabled: true
    adminPassword: "prom-operator"

  alertmanager:
    enabled: true

  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}
