adminPassword: admin

persistence:
  enabled: true

serviceMonitor:
  enabled: false

ingress:
  enabled: true
  ingressClassName: traefik
  annotations: {}
  hosts:
    - grafana.local

sidecar:
  datasources:
    enabled: true
    label: grafana_datasource
  dashboards:
    enabled: true
    label: grafana_dashboard

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://mimir-nginx.monitoring.svc.cluster.local:80/prometheus
        access: proxy
        isDefault: true
      - name: Loki
        type: loki
        url: http://loki-gateway.logging.svc.cluster.local:80
        access: proxy
        jsonData:
          httpHeaderName1: "X-Scope-OrgID"
        secureJsonData:
          httpHeaderValue1: "1"
