adminPassword: admin

persistence:
  enabled: true

serviceMonitor:
  enabled: false

ingress:
  enabled: true
  ingressClassName: traefik
  annotations: {}
  hosts:
    - grafana.local

sidecar:
  datasources:
    enabled: true
    label: grafana_datasource
  dashboards:
    enabled: true
    label: grafana_dashboard
