apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mimir-ingester
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mimir-store-gateway
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mimir-compactor
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mimir-ruler
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mimir-alertmanager
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir-distributor
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir-querier
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir-query-frontend
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir-query-scheduler
spec:
  replicas: 0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir-nginx
spec:
  replicas: 0
